<main>
  <div class="container" >
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-6 w-50 flex-column align-items-center justify-content-center">
            <!-- End Logo -->
            <div class="card mb-3">
              <div class="d-flex justify-content-center py-4">
                <img src="assets/img/logonew.png" alt="">
              </div>
              <hr>
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Create New Password</h5>
                  <p class="text-center small">Enter your code here</p>
                </div>
                <form [formGroup]="createForm" (ngSubmit)="verify()">
                  <div class="col-12">
                    <label for="code" class="form-label">Enter code</label>
                    <div class="input-field">
                      <input type="input" class="form-control" formControlName="code" minlength="6" maxlength="6" (keypress)="keyPressNumbers($event)" [ngClass]="{errors:getcontrol('email')?.errors && getcontrol('email')?.touched}">
                      <!-- <span class="input-group-text">
                        <i class="fa fa-icon-name"></i>
                      </span> -->
                    </div>
                    <div *ngIf="getcontrol('code')?.errors && getcontrol('code')?.touched">
                      <small class="text-danger" *ngIf="getcontrol('code')?.errors?.['required']">OTP is required.</small>
                      <small class="text-danger" *ngIf="getcontrol('code')?.errors?.['minlength']">Please enter a 6 digit.</small>
                    </div>
                    <!-- <div *ngIf="createForm.get('code')?.invalid && createForm.get('code')?.touched" class="invalid-feedback">
                      Code is required.
                    </div> -->
                  </div>
                  <div class="col-12">
                    <label for="newPassword" class="form-label">Enter New Password</label>
                    <div class="input-group input-field ">
                      <input type="password" [type]="type" class="form-control input-field" formControlName="newPassword" maxlength="20">
                      <span (click)="hideShowPass()" class=" fa {{eyeIcon}}"></span>
                    </div>
                    <div *ngIf="getcontrol('newPassword')?.errors && getcontrol('newPassword')?.touched">
                      <small class="text-danger" *ngIf="getcontrol('newPassword')?.errors?.['required']">Password is required.</small>
                      <small class="text-danger" *ngIf="getcontrol('newPassword')?.errors?.['pattern']">The password must contain one or more lowercase characters, numeric values, and uppercase characters.</small>
                    </div>
                    <div *ngIf="createForm.get('newPassword')?.invalid && createForm.get('newPassword')?.touched" class="invalid-feedback">
                      New password is required.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                    <div class=" input-group input-field ">
                      <input type="password" [type]="type1" class="form-control" formControlName="confirmPassword" maxlength="20">
                      <span (click)="hideShow()" class=" fa {{eyeIcon1}}"></span>
                    </div>
                    <div *ngIf="createForm.get('confirmPassword')?.errors?.['passwordMismatch']" class="text-danger small">
                      Passwords do not match.
                    </div>
                    <div *ngIf="getcontrol('confirmPassword')?.errors && getcontrol('confirmPassword')?.touched">
                      <small class="text-danger" *ngIf="getcontrol('confirmPassword')?.errors?.['required']">Password is required.</small>
                      <small class="text-danger" *ngIf="getcontrol('confirmPassword')?.errors?.['pattern']">The password must contain one or more lowercase characters, numeric values, and uppercase characters.</small>
                    </div>
                    <div *ngIf="createForm.get('confirmPassword')?.invalid && createForm.get('confirmPassword')?.touched" class="invalid-feedback">
                      Confirm new password is required.
                    </div>
                  </div>
                  <div class="col-12 pb-5 mt-4">
                    <button class="btn btn-primary w-100" type="submit" (click)="postapi()">Verify</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
