<!-- <p>import-contacts works!</p> -->

<main id="main" class="main ml-0">
    <!-- jumbotron content  start -->
    <div class="card" style="padding: inherit;">
    <div class="container py-5">
    <div class=" heading pb-5">
      <div class="row">
        <div class="col-md-10">
          <h1 class="text_style">How would you like to add contacts?</h1>
          <p>Build your Mailchimp audience by adding or importing contacts you already
            have permission to market to. <span class="highlight"> Learn how consent impacts email delivery</span></p>
        </div>
        <div class="col-md-2">
          <a class="btn float-right ml-2 content-studio-btn1 border-1 " role="button">Exit</a>
        </div>
      </div>
    </div>

    <!-- jumbotron content end -->

    <!--==== start navpils ====-->
   
    
        <div class="row">
          <!-- <div class="alignItemsStretch-1lRpL justifySpaceBetween-2M_OY spacing6-zD2QG"> -->
          <!-- <div class="col-md-4">
            <div class="card" >
              <!-- <img class="card-img-top" src="assets/img/recommendations-email.png"  alt="Card image cap"> 
              <div class="card-body p-0">
                <label for="import" class="p-4">
                <div class="row">
                    <div class="col-md-10"><i class="bi bi-file-earmark-arrow-up contact_icon"></i></div>
                    <div class="col-md-2 text-center"> <input type="radio" id="import" name="fav_language" value="HTML"></div>
                </div>
                <p class="card-text">
                 <strong> Import from another service</strong>
                </p>
                <p class="">Add contacts automatically from tools you already use..</p></label>
                <!-- <div class="buttonContainer-2My5j"><button class="root-sBgFt container-3-bH7 secondary-1_P2K btn btn-primary"
                    type="button"><span class="temporarySpan-2iF2p" link >Design Email </span></button></div> 
              </div>
            </div>
          </div> -->
          <div class="col-md-5">
            <div class="card" >
              <!-- <img class="card-img-top" src="assets/img/recommendations-landing-page.png" alt="Card image cap"> -->
              <div class="card-body p-0">
                <label for="upload" class="upload p-4">
                  <a routerLink="upload">
                <div class="row">
                    <div class="col-md-10"><i class="bi bi-arrow-up contact_icon"></i></div>
                    <div class="col-md-2 text-center"> <input type="radio" id="upload" name="fav_language" value="CSS"></div>
                </div>
                <p class="card-text">
                 <strong>Upload a file</strong>
                </p>
                <p class="">Import contacts from a CSV or tab-delimited TXT file.</p></a></label>
                <!-- <div class="buttonContainer-2My5j"><button class="root-sBgFt container-3-bH7 secondary-1_P2K btn btn-primary"
                    type="button"><span class="temporarySpan-2iF2p">Build Landing Page</span></button></div> -->
              </div>
            </div>
          </div>
          <div class="col-md-5 card ">
            <div class="sub-form-heading">
              <label>Choose from segment</label>
              <select class="sub-contry-select mb-4" id="" name="" style="border-radius: 3px">
                <option value="1" selected="selected">segment 1</option>
               <option value="2">segment 2</option>
               <option value="3">segment 3</option>
               <option value="4">segment 4</option>
               <option value="5">segment 5</option>
              
            </select>
          </div>
          </div>


        <!-- <div class="col-md-4">
          <div class="card">
            <!-- <img class="card-img-top" src="assets/img/recommendations-embedded.png" alt="Card image cap">
            <div class="card-body p-0">
                <label for="copy" class="upload p-4">
                  <a href="copyPaste.html">
                <div class="row">
                    <div class="col-md-10"><i class="bi bi-clipboard-check contact_icon"></i></div>
                    <div class="col-md-2 text-center">  <input type="radio" id="copy" name="fav_language" value="JavaScript"></div>
                </div>
              <p class="card-text">
              <strong>  Copy and paste</strong>
              </p>
              <p class="">Directly paste in new contacts from a spreadsheet or similar list.
                </p></a>
              </label>
       
            </div>
           
            
           
                
          </div>
        </div> -->
        <div class="buttonContainer-2My5j mt-5"><a routerLink="upload" class="root-sBgFt container-3-bH7 secondary-1_P2K btn btn-primary"
          type="button"><span class="temporarySpan-2iF2p">Continue</span></a></div>
                </div>
      </div>
      </div>
    <!-- ====end navpils== -->
   
  </main><!-- End #main -->
