<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <!-- End Logo -->
              <form >
              <div class="card mb-3">
                <div class="d-flex justify-content-center py-4">
                  <a  class=" d-flex align-items-center w-auto">
                     <img src="assets/img/logonew.png" alt="">
                    <!-- <span class="d-none d-lg-block">Create a template</span> -->
                  </a>
                </div>

                <div class="card-body">

                  

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Forget password</h5>
                    <p class="text-center small">Enter your email here</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate="" [formGroup]="forgetForm"  (ngSubmit)="forget()">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Enter Email</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="Enter email" class="form-control" id="yourUsername"  formControlName="email" maxlength="35" [ngClass]="{errors:getcontrol('email')?.errors && getcontrol('email')?.touched}">
                        <!-- <div class="invalid-feedback">Please enter your username.</div> -->
                      </div>
                      <div *ngIf="getcontrol('email')?.errors && getcontrol('email')?.touched">
                        <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['required']">Email is Required.</small>
                        <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['email']">Please insert a valid email address.</small>
                       </div>
                    </div>
                    <div class="col-12 pb-3 pt-3">
                    <button  class="btn btn-primary w-100" type="submit">Create New Password</button>
                    </div>
                   
                  </form>

                </div>
              </div>
              </form>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>