<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm" novalidate (ngSubmit)="submitLoginForm()">
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input type="text" placeholder="Email" formControlName="email" name="email" maxlength="40" [ngClass]="{errors:getcontrol('email')?.errors && getcontrol('email')?.touched}">
                </div>
                <div *ngIf="getcontrol('email')?.errors && getcontrol('email')?.touched">
                  <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['required']">Email is Required.</small>
                  <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['email']">Please insert a valid email address.</small>
                 </div>
                <!-- <div  *ngIf="userNameVail && userNameVail.invalid && userNameVail.touched" class="small text-danger text-start ps-3">Email is Required and Please provide a valid email address</div> -->
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"></span>
                  <input [type]="type" placeholder="Password" formControlName="password" name="password" maxlength="30" [ngClass]="{errors:getcontrol('password')?.errors && getcontrol('password')?.touched}">
                  <span (click)="hideShowPass()" class=" fa {{eyeIcon}}"></span>
                </div>
                <div  *ngIf="getcontrol('password')?.errors && getcontrol('password')?.touched">
                  <small class="text-danger" *ngIf="getcontrol('password')?.errors?.['required']">Password Required.</small>
                  <small class="text-danger" *ngIf="getcontrol('password')?.errors?.['pattern']">  The password must contain one or more lowercase characters numeric values and uppercase characters.</small>
         
                 
                </div>
                <!-- <div  *ngIf="passwordVail && passwordVail.invalid && passwordVail.touched" class="small text-danger text-start ps-3">Password is Required.</div> -->

              </div>
              <div class="form-inline fr mt-4">
                <a id="forget" class="font-weight-bold" routerLink="/forget"> Forget Password?</a>
              </div>
                <button class="btn btn-primary btn-block mt-4 w-100" type="submit" [disabled]="loginForm.invalid">Login</button>
                <div class="text-center pt-4 text-muted">Don't have an account?<a id="forget" routerLink="/signUp">Sign Up</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>