
<main id="main" class="main ml-0">
    <!-- jumbotron content  start -->
    <div class="card" style="padding: inherit;">
<div class="container py-5">
    <div class=" heading pb-5">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text_style">Upload your contacts</h1>
          
        </div>
        <div class="col-md-5">
          <a class="btn float-right ml-2 content-studio-btn"  role="button">Exit</a>
        </div>
      </div>
    </div>

    <!-- jumbotron content end -->

    <!--==== start navpils ====-->
   
    
        <div class="row">
          <div class="col-md-8">
            <div class="upload-btn-wrapper">
                
                <button class="btn">
                    <img src="assets/img/upload.png" alt="">
                    <p>Browse</p>
                </button>
                <input type="file" name="myfile" />
              </div>
          </div>
          
        <div class="col-md-12">
            <div class="buttonContainer-2My5j mt-5"><a  class="root-sBgFt container-3-bH7 secondary-1_P2K btn btn-primary"
                type="button"><span class="temporarySpan-2iF2p">Continue</span></a></div>
        </div>
    </div>
      </div>
    </div>
    <!-- ====end navpils== -->
   
  </main>