<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="campaigns">
                <i class="bi bi-megaphone"></i><span>Create Campaigns</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="email-template">
                <i class="bi bi-envelope"></i><span>Email Tamplates</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="allContact">
              <i class="bi bi-telephone"></i>
              <span>All Contact</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="segment">
              <i class="bi bi-people"></i>
              <span>Segment</span>
            </a>
          </li>

    </ul>

</aside>