<div class="container pt-5">
    <div class="card" >

      <div class="pt-3 ps-2">
        <h1 class="text1">Untitled</h1>
    </div>
    <div class="edit  ps-2 pb-2"> Edit name</div>


      <div class="container-fluid mainbox mb-2">
        <div class="container pt-3 ps-2 pb-2">
          <div class="row mb-3">
            <div class="col-md-9 to1"> <span><i class="bi bi-check2-circle"></i></span>
              <span><b>TO</b></span>
              <p class="data1">Who are you sending this campaign to?</p>


            </div>
            <div class="col-md-3">

              <button class="button1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1"
                aria-expanded="true" aria-controls="collapseOne" style="margin-right: -24px"><a>
                Add Recipients
                </a> </button>
            </div>

            <div class="accordion" id="accordionExample">
              <div class="accordion-item acordian">
                <h2 class="accordion-header" id="headingOne">

                </h2>
                <div id="collapseOne1" class="accordion-collapse collapse " aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row">

                      <div class="col-md-4">
                        <img src="/assets/img/art-empty-default-alt.png" alt="" class="defaultimg">
                      </div>
                      <div class="col-md-8">
                        <strong class="strng">No Contact Yet ?</strong>

                        <p class="p1">You can upload a spreadsheet of contact or
                          import them from another service. We'll Walk you through
                          it. </p>

                        <button class="button22"> <a (click)="url()" class="button2a">Import
                            Contact </a></button>
                        <a  class="button2aa"> Cancel</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-md-9 div1hs"> <span><i class="bi bi-check2-circle"></i></span>
            <span><b>From</b></span>
            <p class="p2">Who is sending this campaign?</p>


          </div>

          <div class="col-md-3">

            <button class="button1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne"><a>
              From
              </a> </button>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item acordian">
              <h2 class="accordion-header" id="headingOne">

              </h2>
              <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row">

                    <div class="col-md-12 row">

                      <div class="col-md-6">

                        <input type="text" class="form-control mb-3" placeholder="Name">

                      </div>
                      <div class="col-md-6">
                        <input type="email" class="form-control mb-3" placeholder="Email">


                      </div>
                      <div class="col-md-6">
                        <input type="password" class="form-control mb-3" placeholder="Password">


                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control mb-3" placeholder="Code number">


                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control mb-3" placeholder="Incoming server mail">


                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control mb-3" placeholder="Outgoing server mail">


                      </div>





                    </div>
                    <div class="col-md-12">

                      <div class="col-md-6">
                        <button class="Schedulesave"><a>

                          Save</a>
                        </button>


                        <a class="ps-2 color:blue" >cancel</a>




                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-9 div2"> <span><i class="bi bi-check2-circle"></i></span> <span><b>
                Subject</b></span>
            <p class="p3">What's the subject line for this campaign?</p>


          </div>
          <div class="col-md-3">

            <button class="button1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2"
              aria-expanded="true" aria-controls="collapseOne"><a>
              Subject
              </a> </button>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item acordian">
              <h2 class="accordion-header" id="headingOne">

              </h2>
              <div id="collapseOne2" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-md-12 row">

                      <div class="col-md-6">
                        <!-- <b> <label for="text"> Subject</label></b> -->
                        <input type="text" class="form-control mb-3"
                          placeholder="What's the subject line for this campaign?">

                      </div>
                      <div class="col-md-6">



                      </div>
                    </div>
                    <div class="col-md-12">

                      <div class="col-md-6">
                        <button class="Schedulesave">
                          <a style="color: #ffffff; ">

                            Save</a>
                        </button>


                        <a class="ps-2 color:blue" >cancel</a>




                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row ">
          <div class="col-md-4 div3"> <span>
              <i class="bi bi-check2-circle"></i></span> <span><b>Content</b></span>
            <p class="p4">Design the content for your email.</p>


          </div>
          <div class="col-md-5">
            <!-- <input type="text" class="form-control mb-3" placeholder="Name"> -->
            <select name="dropdown" class="form-select mt-4" id="">
              <option value="1">select from save templates</option>
              <option value="2">save template 2</option>
              <option value="3">save template 3</option>
              <option value="4">save template 4</option>
            </select>
          </div>
          <div class="col-md-3">

            <a class="btn ml-2 content-studio-btn aa3" role="button">Design Email</a>

          </div>
        </div>




        <div class="col-md-12 mt-3">
          <img src="/mailchip/assets/img/template-bg (1).svg" alt="" class="imgtemp">

        </div>

        <hr>

        <div class="row mb-3">
          <div class="col-md-9 div2"> <span><i class="bi bi-check2-circle"></i></span> <span><b>
                Schedule</b></span>
            <p class="p3">Schedule your date and time for this campaign?</p>


          </div>
          <div class="col-md-3">

            <button class="button1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3"
              aria-expanded="true" aria-controls="collapseOne"><a>
              Schedule
              </a> </button>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item acordian">
              <h2 class="accordion-header" id="headingOne">

              </h2>
              <div id="collapseOne3" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <!-- <div class="row">
                    <div class="col-md-12 mt-3 mb-3">
                      <div class="tbldata1 row">
                        <div class="col-md-3 col-sm-12 tbldata">
                            <h3 class="tbldata2c"><a href="#">Fixed Time and Time zone</a></h3>
                            <p class="tbldata2d"> We'll launch your campaign on the date and time you specify.  </p>
                        </div>
                        <div class="col-md-3 col-sm-12 tbldata">
                            <h3 class="tbldata2c">Send in Batches </h3>
                            <p class="tbldata2d">Send campaign in batches at specified intervals. </p>
                        </div>
                        <div class="col-md-3 col-sm-12 tbldata">
                            <h3 class="tbldata2c">Recipients' Time Zone</h3>
                            <p class="tbldata2d">Your campaign will be launched based on the recipient time zone</p>
                        </div>
                        <div class="col-md-3 col-sm-12 tbldata">
                            <h3 class="tbldata2c">Recipients' Optimal Open Time</h3>
                            <p class="tbldata2d">Your campaign will be launched based on the time your recipients are more likely to open it. </p>
                        </div>
                    </div>
                    </div>
                  </div> -->
                  <div class="row">
                    <div class="col-md-12 row">

                      <div class="col-md-6">
                        <input type="date" class="form-control mb-3" placeholder="Enter Date">



                      </div>
                      <div class="col-md-6">
                        <input type="time" class="form-control mb-3">


                      </div>
                      <div class="col-md-6">


                        <select class="form-select">
                          <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
                          <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
                          <option value="-10:00">(GMT -10:00) Hawaii</option>
                          <option value="-09:50">(GMT -9:30) Taiohae</option>
                          <option value="-09:00">(GMT -9:00) Alaska</option>
                          <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                          <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                          <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                          <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                          <option value="-04:50">(GMT -4:30) Caracas</option>
                          <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                          <option value="-03:50">(GMT -3:30) Newfoundland</option>
                          <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                          <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
                          <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
                          <option value="+00:00">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                          <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                          <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
                          <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                          <option value="+03:50">(GMT +3:30) Tehran</option>
                          <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                          <option value="+04:50">(GMT +4:30) Kabul</option>
                          <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                          <option value="+05:50" selected="selected">(GMT +5:30) Bombay, Calcutta, Madras, New
                            Delhi</option>
                          <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
                          <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                          <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
                          <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                          <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                          <option value="+08:75">(GMT +8:45) Eucla</option>
                          <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                          <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
                          <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                          <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
                          <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                          <option value="+11:50">(GMT +11:30) Norfolk Island</option>
                          <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                          <option value="+12:75">(GMT +12:45) Chatham Islands</option>
                          <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
                          <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
                        </select>


                      </div>

                      <div class="col-md-6">
                        <button class="sendimidiatebtn" type="button"><a>
                          Send immediately
                          </a> </button>
                      </div>


                      <div class="col-md-12 mt-4">

                        <div class="col-md-6">
                          <button class="Schedulesave">
                            <a  style="color: #ffffff; ">

                              Schedule</a>
                          </button>


                          <a class="ps-2 color:blue" >cancel</a>




                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mb-5 mt-5">

          <div class="col-md-6">
            <a >
            <button class="Schedulesave">


                Submit
            </button></a>


            <a class="ps-2 color:blue" >cancel</a>




          </div>

        </div>





      </div>
    </div>


    <!-- <div class=" container row div4">


                  <div class="col-md-6 div5">
                      <b> Share your Campaign</b>

                  </div>

              </div> -->
    <!-- <span class="span1">Campaign Link</span>

              <span class="span2"><a href="https://mailchimp.com/"
                      class="aa4">http://mailchi.mp/[xxxxxx][xxxxxx]</a></span>
              <span class="span3">Want to brand your campaign link? Click edit to creat a custom URL.</span> -->




  </div>