<main id="main" class="main">
  <div class="col-md-12">
    <h3>
      Test
    </h3>

  </div>
  <div class="card" style="padding: inherit;">


    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Criteria">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!-- teable heade -->
          <div class="card" style="padding: inherit;">


            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10 ">
                  Country contains India
                </div>
              </div>

            </div>
            <hr>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2 pt-3">
                </div>

                <div class="col-md-10">
                  <b><span class="pr-2" style="color: blue;"> Or</span></b> Country contains USA
                </div>
              </div>

            </div>
          </div>
          <!-- table end -->
        </div>
      </mat-tab>
      <mat-tab label="Contacts">
        <div class="card" style="padding: inherit;">
          <!-- <div class="div1 mt-5">
                    <table>
                      <tr>
                        <th class="th tblh">Email address</th>
                        <th>First name</th>
                        <th>last name</th>
                        <th>Address</th>
                        <th>phone number</th>
                        <th>Country</th>
                        <th>birthday</th>
                        <th>Tag</th>
                        <th>email marketing</th>
                        <th>source</th>
                        <th>contact rating</th>
                        <th>date added</th>
                        <th>last date</th>
                      </tr>
                      <tr>
                        <td><input style="margin: 1%" type="checkbox"> abc5488@gmail.com</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input style="margin: 1%" type="checkbox"> abc5488@gmail.com</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input style="margin: 1%"type="checkbox"> abc5488@gmail.com</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input style="margin: 1%"type="checkbox"> abc5488@gmail.com</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><input style="margin: 1%"type="checkbox"> abc5488@gmail.com</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>
                  </div> -->

          <table>
            <tr>
              <th>Email</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>country</th>
              <th>City</th>
            </tr>
            <tr>
              <td>Hiteshshrivastava15@gmail.com</td>
              <td>Hitesh</td>
              <td>Shrivastava</td>
              <td>India</td>
              <td>Gadarwara</td>
            </tr>
            <tr>
              <td>Anurudhshrivasta2@gmail.com</td>
              <td>Anurudh</td>
              <td>Shrivastava</td>
              <td>India</td>
              <td>Gadarwara</td>
            </tr>
            <tr>
              <td>Deepakchouhan@gmail.com</td>
              <td>Deepak</td>
              <td>Chouhan</td>
              <td>India</td>
              <td>Gadarwara</td>
            </tr>
            <tr>
              <td>amitjaiswal34@gmail.com</td>
              <td>Amit</td>
              <td>jaiswal</td>
              <td>India</td>
              <td>Gadarwara</td>
            </tr>
            <tr>
              <td>mankubhirani2000@gmail.com</td>
              <td>Mohit</td>
              <td>bhirani</td>
              <td>India</td>
              <td>Mandla</td>
            </tr>
            <tr>
              <td>smmarch@gmail.com</td>
              <td>Sudhanshu</td>
              <td>Mishra</td>
              <td>India</td>
              <td>Agra</td>
            </tr>
          </table>

          <div class="firstdiv p-2 mt-4 pagetitle" style="display: flex;align-items: center;flex-flow:  row wrap;">
            <div class="col-md-8">

              <h1 class="companygreeting m-0">Total contacts</h1>
            </div>
            <div class="col-md-2">
              <h1 class="companygreeting m-0">2345</h1>

            </div>

            <div class="col-md-2">
              <a (click)="url()"><button type="button" class="btn btn-secondary btnhs btncreate">Save</button></a>
            </div>
          </div>



        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</main>