<!-- <header id="header" class="header fixed-top d-flex align-items-center">


    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/images/Group 118.png" alt="">
           
        </a>
        <li class="nav-item">
             <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                 <i class="bi bi-bars"></i>
                 </a> </li>
    </div>

    <div class="search-bar">
        <form class="search-form ">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div>

  

</header> -->



<!-- <nav class=" header d-flex align-items-center navbar navbar-expand navbar-light bg-light px-2">
    <div class="col-md-12">
        <div class="row">


            <div class="col-md-2">

                <a href="index.html" class="logo d-flex align-items-center">
                    <img src="assets/images/Group 118.png" alt="">

                </a>

            </div> 

            <div class="col-md-4"> -->
<!-- <div> -->
<!-- <a href="index.html" class="logo float-sm-start">
                        <img src="assets/images/Group 118.png" alt="">
    
                    </a> -->
<!-- <mat-sidenav-container fullscreen>
                <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" 
                    >
                    <a href="index.html" class="logo float-sm-start">
                        <img src="assets/images/Group 118.png" alt="">
    
                    </a>
                    <mat-nav-list>
                    <mat-list-item routerLink="1" routerLinkActive="active" >
                        <i class="bi bi-grid"></i>
                        <span>
                            <a href="#">Dashboard</a>
                        </span>
                    </mat-list-item>

                    <mat-list-item routerLink="2" routerLinkActive="active">
                        <i class="bi bi-megaphone"></i>
                        <span>
                            <a href="#">campaigns</a>
                        </span>
                    </mat-list-item>

                    <mat-list-item routerLink="3" routerLinkActive="active">
                        <i class="bi bi-circle"></i>
                            <span>
                                <a href="#">All Contact</a>
                            </span>
                    </mat-list-item>

                    <mat-list-item routerLink="3" routerLinkActive="active">
                        <i class="bi bi-circle"></i>
                            <span>
                                <a href="#">Segment</a>
                            </span>
                    </mat-list-item>

 

                    </mat-nav-list>

                </mat-sidenav>

                <div class="example-sidenav-content">
                    <router-outlet></router-outlet> -->
<!-- <mat-icon (click)="sidenav.toggle()" class="sidenav-menu">menu</mat-icon>
                </div>


            </mat-sidenav-container> -->
<!-- <div class="side-nav-button float-start p-2 mt-2 ms-3"> -->

<!-- <i class="fa fa-bars"></i> -->
<!-- <mat-icon (click)="sidenav.toggle()" class="sidenav-menu">menu</mat-icon> -->

<!--     
                    </div>
                </div> -->


<!-- </div> -->


<!-- <div class="col-md-4">          -->
<!-- <div class="d-flex"> -->
<!-- <div class="side-nav-button float-start">
                        <i class="fa fa-bars"></i>
    
                    </div>
                    <div class="search-bar">
                        <form class="search-form ">
                            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                            <button type="submit" title="Search"><i class="fa fa-search"></i></button>
                        </form>
                    </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-4">
                <div class="dropdown-container">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                      Admin
                    </button>
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Sign Up</a>
                      <a class="dropdown-item" href="#">Login</a>
                      <a class="dropdown-item" href="#">Your Profile</a>
                      <a class="dropdown-item" href="#">Logout</a>
                      <a class="dropdown-item" routerLink="addcompany">Company Registration</a>

                    </div>
                </div>
             </div>
            </div>
        </div>
    </div>

</nav> -->

<header id="header" class="header fixed-top d-flex align-items-center">


  <!-- <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logonew.png" alt=""> -->
  <!-- <span class="d-none d-lg-block">Admin</span> -->
  <!-- </a> -->
  <!-- <div *ngIf="isLoggedIn" (click)="isShowRightSideBar=!isShowRightSideBar"> -->
  <!-- <i class="bi bi-list toggle-sidebar-btn" (click)="onClickPanel()"></i>
        </div> -->
  <!-- </div> -->


  <!-- End Logo -->
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 d-flex  justify-content-between">
        <!-- start search bar -->
        <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div>

        <!-- End Search Bar -->
        <!-- search icon -->
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle ">
                <i class="bi bi-search"></i>
              </a>
            </li>


            <!-- End Search Icon-->


            <li class="nav-item dropdown pe-3 flex-end ">

              <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
                <img src="assets/img/image-removebg-preview (1).png" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2" class="m1">Admin</span>
              </a><!-- End Profile Iamge Icon -->

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6>Admin</h6>
                  <!-- <span>Web Designer</span> -->
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" routerLink="addcompany">
                    <i class="bi bi-box-arrow-right pe-auto"></i>
                    <span class="pe-auto pe-auto" style="cursor: pointer;">company registration</span>
                  </a>
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center pe-auto" >
                    <i class="bi bi-box-arrow-right pe-auto"></i>
                    <span class="m1 pe-auto">Sign Out</span>
                  </a>
                </li>


              </ul>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
          <!-- End Profile Nav -->


        </nav>
        <!-- End Icons Navigation -->
      </div>
    </div>
  </div>

</header>