<div class="pb-2">
  <h1 class="text_style">Schedule</h1>

</div>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
      aria-selected="true"> <span class="dt"> <i class="bi bi-ui-checks-grid"></i> &nbsp; Overview </span></a></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"> <a class="nav-link" id="profile-tab" data-toggle="tab"  role="tab" aria-controls="profile"aria-selected="false"> <span class="dt"> <i class="bi bi-envelope"></i> &nbsp; Email </span></a></button>
  </li>
 
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><div class="card" style="padding: inherit;">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 mt-3">
          STATISTICS
        </div>
      </div>
    </div>
         
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
             <div class="col-md-2 col-sm-12 tbldataschedule">
            <h3 class="tbldata2cschedule"><a href="#">6280</a></h3>
            <p class="tbldata2dschedule"> Active </p>
        </div>
             <div class="col-md-2 col-sm-12 tbldataschedule">
            <h3 class="tbldata2cschedule"><a href="#">22</a></h3>
            <p class="tbldata2dschedule">Paused </p>
        </div>
             <div class="col-md-2 col-sm-12 tbldataschedule">
            <h3 class="tbldata2cschedule"><a href="#">1833</a></h3>
            <p class="tbldata2dschedule">Finished</p>
        </div>
             <div class="col-md-2 col-sm-12 tbldataschedule">
            <h3 class="tbldata2cschedule"><a href="#">1</a></h3>
            <p class="tbldata2dschedule"> Bounced</p>
        </div>
             <div class="col-md-2 col-sm-12 tbldataschedule">
            <h3 class="tbldata2cschedule"><a href="#">14</a></h3>
            <p class="tbldata2dschedule"> Not sent</p>
        </div>
          </div>
        

        </div>
       
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2 col-sm-12">
         
       </div>
            <div class="col-md-2 col-sm-12 tbldataschedule">
           <h3 class="tbldata2cschedule"><a >6371</a></h3>
           <p class="tbldata2dschedule"> Schedule </p>
       </div>
            <div class="col-md-2 col-sm-12 tbldataschedule">
           <h3 class="tbldata2cschedule"><a >8160</a></h3>
           <p class="tbldata2dschedule">Delivered</p>
       </div>
            <div class="col-md-2 col-sm-12 tbldataschedule">
           <h3 class="tbldata2cschedule"><a >9%</a></h3>
           <p class="tbldata2dschedule">open</p>
       </div>
            <div class="col-md-2 col-sm-12 tbldataschedule">
           <h3 class="tbldata2cschedule"><a >1.4%</a></h3>
           <p class="tbldata2dschedule"> Click</p>
       </div>
            <div class="col-md-2 col-sm-12 tbldataschedule">
           <h3 class="tbldata2cschedule"><a >0.4%</a></h3>
           <p class="tbldata2dschedule"> Reply</p>
       </div>
       
         </div>     
        </div>
      </div>

    </div>


    <div class="cardoverview pt-2 " style="padding: inherit; ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
            1
          </div>
          <div class="col-md-3">
       
            <i class="bi bi-envelope"></i>
            <strong>Automatic Email-Day 1</strong>
          </div>
          <div class="col-md-6 ">
           
        </div>
        <div class="col-md-2">
          <p class="delivertime">Dilever 1min ago</p>
        </div>
          </div>
        </div>
      </div>

      <div class="card pt-2 " style="padding: inherit; ">

      <table >
      
        <tr>
          <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
          <td class="tdnew">
            A  NEW THREAD
          </td> 

        
          <td>
          <a href="">  <h5 class="text-info">Hello! We provide IT resources like Developers</h5></a>
            <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized skills needed to fill technology roles on your team.</p>

            <div class="col-md-12 p-0">
              <div class="row">
                <div class="col-md-5 pt-3">
              <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
            </div>
            <div class="col-md-7">
              <div class="row">


              <div class="col-md-2 col-sm-12">
               
            </div>
            <div class="col-md-2 col-sm-12 tbldataschedule">
              <h3 class="tbldata2cschedule"><a href="#">8160</a></h3>
              <p class="tbldata2dschedule">Delivered</p>
          </div>

          
          <div class="col-md-2 col-sm-12 tbldataschedule">
            <h3 class="tbldata2cschedule"><a href="#">5.8%</a></h3>
            <p class="tbldata2dschedule"> Bounced </p>
        </div>
                 <div class="col-md-2 col-sm-12 tbldataschedule">
                <h3 class="tbldata2cschedule"><a href="#">9%</a></h3>
                <p class="tbldata2dschedule">open</p>
            </div>
                 <div class="col-md-2 col-sm-12 tbldataschedule">
                <h3 class="tbldata2cschedule"><a href="#">1.4%</a></h3>
                <p class="tbldata2dschedule"> Click</p>
            </div>
                 <div class="col-md-2 col-sm-12 tbldataschedule">
                <h3 class="tbldata2cschedule"><a href="#">0.4%</a></h3>
                <p class="tbldata2dschedule"> Reply</p>
            </div>

          </div>    
            </div>
            </div>
            </div>
          </td>
          <td>
      
      
           <button class="btn creat-studio-btn actionrespon " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span> Action </span>
              </button>
      
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
      
          </td>
        </tr>
      </table>

   
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 pb-2">
              <button type="button" class="btn btn-light">Add A/B Test</button>

            </div>
            <div class="col-md-6  pb-2 text-end">
              <button type="button" class="btn btn-light">Manual Allocation</button>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 pb-3 ">
        
           <button type="button" class="btnaddstep"> <span class="p-3">Add Step </span> </button>

          </div>
        </div>
      </div>

      
     </div></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="card" style="padding: inherit;">
    
    <div class="tab-content" id="myTabContent">
        <div class="active tab-pane" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!-- teable heade -->

            <div class="card" style="padding: inherit;">
               

              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><a class="nav-link " id="total-tab" data-toggle="tab"  role="tab" aria-controls="total"
                    aria-selected="true"> <span class="dt">  Total <p class="togglepara">7654</p></span></a></button>
                  <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><a class="nav-link" id="schedule-tab" data-toggle="tab"  role="tab" aria-controls="schedule"
                    aria-selected="false"> <span class="dt">  Schedule<p class="togglepara">2334</p></span></a></button>
                  <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false"><a class="nav-link" id="Delivered-tab" data-toggle="tab"  role="tab" aria-controls="Delivered"
                    aria-selected="false"> <span class="dt">  Delivered <p class="togglepara">2122</p></span></a></button>
                  <button class="nav-link " id="nav-home1-tab" data-bs-toggle="tab" data-bs-target="#nav-home1" type="button" role="tab" aria-controls="nav-home1" aria-selected="false"><a class="nav-link" id="Notopened-tab" data-toggle="tab" role="tab" aria-controls="Notopened"
                    aria-selected="false"> <span class="dt">  Not opened <p class="togglepara">212</p></span></a></button>
                  <button class="nav-link" id="nav-profile1-tab" data-bs-toggle="tab" data-bs-target="#nav-profile1" type="button" role="tab" aria-controls="nav-profile1" aria-selected="false"><a class="nav-link" id="opened-tab" data-toggle="tab"  role="tab" aria-controls="opened"
                    aria-selected="false"> <span class="dt">  opened <p class="togglepara">5673</p></span></a></button>
                  <button class="nav-link" id="nav-contact1-tab" data-bs-toggle="tab" data-bs-target="#nav-contact1" type="button" role="tab" aria-controls="nav-contact1" aria-selected="false"><a class="nav-link" id="Replied-tab"  role="tab" aria-controls="Replied"
                    aria-selected="false"> <span class="dt">  Replied <p class="togglepara">25</p></span></a></button>
                  <button class="nav-link " id="nav-home2-tab" data-bs-toggle="tab" data-bs-target="#nav-home2" type="button" role="tab" aria-controls="nav-home2" aria-selected="false"><a class="nav-link" id="Bounced-tab" role="tab" aria-controls="Bounced"
                    aria-selected="false"> <span class="dt">  Bounced <p class="togglepara">37</p></span></a> </button>
                  <button class="nav-link" id="nav-profile2-tab" data-bs-toggle="tab" data-bs-target="#nav-profile2" type="button" role="tab" aria-controls="nav-profile2" aria-selected="false"><a class="nav-link" id="SpamBlocked-tab"   role="tab" aria-controls="SpamBlocked"
                    aria-selected="false"> <span class="dt">  Spam Blocked <p class="togglepara">17</p></span></a></button>
                  <button class="nav-link" id="nav-contact2-tab" data-bs-toggle="tab" data-bs-target="#nav-contact2" type="button" role="tab" aria-controls="nav-contact2" aria-selected="false"><a class="nav-link"  role="tab" aria-controls="Notsent"
                    aria-selected="false"> <span class="dt">  Not sent <p class="togglepara">127</p></span></a></button>
                </div>
              </nav>
              




                <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item p-1">
                    <i class="bi bi-filter mt-2"></i>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" id="total-tab" data-toggle="tab" href="#total" role="tab" aria-controls="total"
                        aria-selected="true"> <span class="dt">  Total <p class="togglepara">7654</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule"
                        aria-selected="false"> <span class="dt">  Schedule<p class="togglepara">2334</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="Delivered-tab" data-toggle="tab" href="#Delivered" role="tab" aria-controls="Delivered"
                        aria-selected="false"> <span class="dt">  Delivered <p class="togglepara">2122</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="Notopened-tab" data-toggle="tab" href="#Notopened" role="tab" aria-controls="Notopened"
                        aria-selected="false"> <span class="dt">  Not opened <p class="togglepara">212</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="opened-tab" data-toggle="tab" href="#opened" role="tab" aria-controls="opened"
                        aria-selected="false"> <span class="dt">  opened <p class="togglepara">5673</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="Replied-tab" data-toggle="tab" href="#Replied" role="tab" aria-controls="Replied"
                        aria-selected="false"> <span class="dt">  Replied <p class="togglepara">25</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="Bounced-tab" data-toggle="tab" href="#Bounced" role="tab" aria-controls="Bounced"
                        aria-selected="false"> <span class="dt">  Bounced <p class="togglepara">37</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="SpamBlocked-tab" data-toggle="tab" href="#SpamBlocked" role="tab" aria-controls="SpamBlocked"
                        aria-selected="false"> <span class="dt">  Spam Blocked <p class="togglepara">17</p></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="Notsent-tab" data-toggle="tab" href="#Notsent" role="tab" aria-controls="Notsent"
                        aria-selected="false"> <span class="dt">  Not sent <p class="togglepara">127</p></span></a>
                    </li>
                  </ul> -->
                <!-- buttonbuttonbuttonbuttonbuttonbuttonbuttonbutton -->
                
                <div class="col-md-12 mt-3 mb-3">
                    <a ><span> <button type="button" class="btn btn-light modal-fullscreen-sm-down reschedulerespon "> <span><i class="bi bi-clock"></i></span> &nbsp; Reschedule</button> </span></a> 
                     <a><span> <button type="button" class="btn btn-light modal-fullscreen-sm-down reschedulerespon"> <span><i class="bi bi-envelope"></i></span> &nbsp; Email for different user</button></span> </a>
                        <span> <button type="button" class="btn btn-light"> <span><i class="bi bi-trash"></i></span> &nbsp;  Delete </button></span>
                        <span> <button type="button" class="btn btn-light"> <span><i class="bi bi-skip-end"></i></span> &nbsp;  Skip </button></span>
                        <span> <button type="button" class="btn btn-light"> <span><i class="bi bi-download"></i></span> &nbsp;  Export</button></span>
                       
                      </div>
                
                <!-- buttonbuttonbuttonbuttonbuttonbuttonbuttonbutton -->

                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table>
                    </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><hr>
                    <table class="tableemail" *ngFor="let i of getSchedulerData">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>ritesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="" >
                                    <h5 class="text-info"  value="[i.subject]">{{i.subject}}</h5>
                                </a>
                                <p>{{i.body}}</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a routerLink="/campaigns">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime">{{i.schedulerTime | date: 'medium'}}</p>
                            
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table></div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table>
                    <hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table></div>
                  <div class="tab-pane fade " id="nav-home1" role="tabpanel" aria-labelledby="nav-home1-tab"><hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table>
                    <hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table></div>
                  <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile1-tab"><hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table></div>
                  <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact1-tab"><hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table>
                    <hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table></div>
                  <div class="tab-pane fade " id="nav-home2" role="tabpanel" aria-labelledby="nav-home2-tab"><hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table></div>
                  <div class="tab-pane fade" id="nav-profile2" role="tabpanel" aria-labelledby="nav-profile2-tab"><hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table></div>
                  <div class="tab-pane fade" id="nav-contact2" role="tabpanel" aria-labelledby="nav-contact2-tab">
                    <hr>
                    <table class="tableemail">
                    
                        <tr>
                            <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                            <td class="tdnewemail">
                                To <b>Hitesh</b>
                            </td>
                    
                    
                            <td>
                                <a href="">
                                    <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                                </a>
                                <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                    skills needed to fill technology roles on your team.</p>
                    
                                <div class="col-md-12 p-0">
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                        </div>
                    
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                            </td>
                            <td>
                                <p class="mt-3 delivertime"> 06:30min</p>
                    
                            </td>
                            <td>
                                <span> <i class="bi bi-filter mt-2"></i></span>
                            </td>
                    
                        </tr>
                    </table>
                    <hr>
                <table class="tableemail">
                
                    <tr>
                        <th scope="row"><input type="checkbox" aria-label="Checkbox for following text input"></th>
                        <td class="tdnewemail">
                            To <b>Hitesh</b>
                        </td>
                
                
                        <td>
                            <a href="">
                                <h5 class="text-info">Hello! We provide IT resources like Developers</h5>
                            </a>
                            <p>IT-Cylsys software-An introduction IT staffing is the act of finding job candidates with the specialized
                                skills needed to fill technology roles on your team.</p>
                
                            <div class="col-md-12 p-0">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <p>Step 1 of <a href="">IT staffing services - Cylsys</a></p>
                                    </div>
                
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm">Schedule delay</button>
                        </td>
                        <td>
                            <p class="mt-3 delivertime"> 06:30min</p>
                
                        </td>
                        <td>
                            <span> <i class="bi bi-filter mt-2"></i></span>
                        </td>
                
                    </tr>
                </table>
                    
                  </div>
                </div>
                
                
                
            
            </div>
        </div>
        <!-- table end -->
       
    </div>
</div></div>
</div>
<!-- jkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->
<main id="main" class="main">
  <!-- jumbotron content  start -->
 
  <!-- //////////////////////////////////////////// -->
  <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
   
    <li class="nav-item">
     
    </li>
  </ul> --> 
  <!-- ///////////////////////////////////////////////////////// -->
 

</main>

<!-- table end -->


